* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open sans', sans-serif;
	background-image: url(Untitled1.png);
}

header{
	height: 100px;
	background: #1C1B1B;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

ul{
	display: flex;
	list-style-type: none;
	align-items: center;
}

ul li a{
	padding: 0 20px;
	text-decoration: none;
	color: white;
	display: inline-block;
}

li a::after{
	content: '';
	display: block;
	height: 4px;
	width: 0;
	background: white;
	transition:all .5%;
}

li a:hover::after{
	width: 100%
}
.daftar{
	background: green;
	color: white;
	border: none;
	padding: 10px 20px
	outline: none;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 50px;
}
.masuk{
	background: green;
	color: white;
	border: none;
	padding: 10px 20px
	outline: none;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 50px;
}

main{
	display: flex;
	border:1px solid;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.hero-img {
	max-width: 670px;
	height: auto;
}

.content-left {
	width: 30%;
}

main h1{
	font-size: 64px;
	text-transform: uppercase;
	color: white;
}

main h2{
	color: white;
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 8px;
}

main p{
	color: white;
	font-size: 24px;
	font-weight: 400;
	line-height: 31.5px;
	margin: 30px 0;
}

.cta{
	padding: 15px 30px;
	outline: none;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 50px
}

.daftar-btn {
	font-size: 10px;
	padding: 7px 30px;
	outline: none;
	border: none;
	background: green;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 50px
}

.masuk-btn {
	font-size: 10px;
	padding: 7px 30px;
	outline: none;
	border: none;
	background: green;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 50px
}