html, body {
	margin: 0;
	padding: 0;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ddd;
	line-height: 1.65;
	padding-bottom: 1000px;
}

/*container-satu*/
.container-satu {
	width: 800px;
	margin: 50px auto;
	background-color: #fff;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
}

.kolom-utama {
	flex: 3; 
	order: 2;
}

.sidebar-dua {
	flex: 1;
	order: 3;
}

/*container-dua*/
.container-dua {
	max-width: 800px;
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
}

.layanan{
	width: 30%;
	padding: 20px;
	box-sizing: border-box;
}

.layanan.satu {
	background-color: white;
}

.layanan.dua {
	background-color: white;
}

.layanan.tiga {
	background-color: white;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open sans', sans-serif;
}

header{
	height: 100px;
	background: #1C1B1B;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

ul{
	display: flex;
	list-style-type: none;
	align-items: center;
}

ul li a{
	padding: 0 20px;
	text-decoration: none;
	color: white;
	display: inline-block;
}

li a::after{
	content: '';
	display: block;
	height: 4px;
	width: 0;
	background: white;
	transition:all .5%;
}

li a:hover::after{
	width: 100%
}
.daftar{
	background: green;
	color: white;
	border: none;
	padding: 10px 2	0px
	outline: none;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 50px;
}
.masuk{
	background: green;
	color: white;
	border: none;
	padding: 10px 20px
	outline: none;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 50px;
}

main{
	display: flex;
	border:1px solid;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.hero-img {
	max-width: 400px;
	height: auto;
}

main h1{
	font-size: 44px;
	text-transform: uppercase;
	color: black;
}

main p{
	color: black;
	font-size: 14px;
	font-weight: 400;
	line-height: 31.5px;
	margin: 30px 0;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container > div {
  background-color: #f1f1f1;
  /*width: 100px;*/
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}